@font-face {
    font-family: 'Delius';
    font-style: normal;
    font-weight: 400;
    src: local('Delius'),
        url('../../assets/fnt/Delius-Regular.ttf') format('truetype');
}

:root {
    --prim: #a43074;
    --sec: #3074A4;
    --gray: #333;
    --swiper-navigation-size: 26px;
    --background-primary: #1c7982;
    --background-secondary: #48a2a4;
    --swiper-navigation-color: #48a2a4 !important;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
}

body {
    background-color: var(--background-primary);
    /* font-family: 'Krub', cursive; */
    font-size: 1em;
    margin: 0;
    width: 100%;

    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;

    /* display: grid;
    grid-template-rows: min-content 60px auto 80px; */
    /* background-color: #3074A4; */
}

/* header {
    position: relative;
    z-index: 11;
    display: grid;
    grid-template-columns: 1fr;
} */

.logo {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 11;
}

.logo img {
    filter: drop-shadow(0 0 6px #000)
}

nav.navbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: var(--background-primary);
    border-bottom: 4px solid var(--background-secondary);
    border-left: 2px solid var(--background-secondary);
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
}

nav.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

nav.navbar a:hover {
    text-decoration: underline;
}

nav.navbar a.active {
    font-weight: 600;
    /* text-decoration: underline; */
}

.rounded {
    /* border-radius: 10px; */
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.swipertop .swiper-wrapper {
    width: auto;
    height: 100%;
    min-height: 100%;
}

.swipertop .swiper-slide {
    height: auto !important;
}

.swipertop .swiper-slide img {
    /* width: 500px; */
    /* height: 500px; */
    height: fit-content(100vh);
    width: auto;
    /* border-radius: 10px; */
}

.swipertop .swiper-slide div.text {
    position: absolute;
    top: calc(90vh - 40px);
    left: 0;
    padding: 10px;
    color: #fff;
    background-color: rgba(28, 121, 130, .7);
    /* width: calc(100% - 20px); */
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: .9em;
}

.swipertop .swiper-slide div.text>h2 {
    margin: 0;
}

.swipertop .swiper-pagination-bullet {
    width: 20px;
    height: 4px;
    border-radius: 0px;
    /* background: white; */
}

.swipertop .swiper-pagination-bullet-active {
    background-color: var(--background-secondary);
}

main {
    padding: 20px;
    padding-top: 120px;
    width: 100%;
}

.alojamientos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.alojamientos-top h1,
.alojamientos-top h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.alojamientos-top {
    width: 100%;
    margin-bottom: 40px;
    flex-grow: 1;
    background-color: white;
    border: 2px solid var(--background-secondary);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    text-indent: 20px;
}

.alojamientos-module {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    background-color: white;
    border: 2px solid var(--background-secondary);
    border-radius: 10px;
    padding: 20px;
    min-width: 100%;
}

/* .alojamientos-module>div>img {
    width: 100%;
    border-radius: 10px;
} */
.alojamientos-module div.image {
    display: flex;
    flex: 1;
    background-color: white;
    /* border: 4px solid var(--background-secondary); */
    border-radius: 10px;
    /* padding: 20px; */
}

.alojamientos-module div.image>img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.test {
    border: 2px solid red;
}

.alojamientos-module div.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: white;
    /* border: 4px solid var(--background-secondary); */
    border-radius: 10px;
    /* padding: 20px; */
}

.alojamientos-module .swiper-container {
    flex: 1;
    min-width: 0;
    width: 100px;
    height: auto;
}

.alojamientos-module .image {
    border-radius: 10px;
    overflow: hidden;
}

.alojamientos-module .swiper-slide>img {
    width: 100%;
    height: auto;
}

.alojamientos-module .swiper-pagination-bullet-active {
    background-color: var(--background-secondary);
}

#map {
    margin: auto;
    border: 2px solid var(--background-secondary);
    border-radius: 10px;
    min-width: 300px;
    min-height: 300px;
    /* width: 100%; */
    /* height: 100%; */
    position: absolute;
    top: 140px;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.gmaps_link {
    position: absolute;
    top: 100px;
    right: 20px;
    z-index: 12;
    background-color: var(--background-primary);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    /* font-weight: 700; */
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.contacto>div {
    flex: 1;
    background-color: white;
    border: 2px solid var(--background-secondary);
    border-radius: 10px;
    padding: 20px;
}

#formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
}

#formContainer form {
    display: flex;
    /* grid-template-columns: 1fr 3fr; */
    flex-direction: column;
    gap: 1em;
}

#formContainer label {
    font-weight: 600;
    width: 100%;
    text-align: left;
}

#formContainer form input,
#formContainer form textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid var(--background-secondary);
    border-radius: 5px;
    /* font-family: 'Krub', cursive; */
    font-size: 1em;
    resize: vertical;
}

#formContainer form textarea {
    min-height: 200px;
}

#formContainer form input:focus,
#formContainer form textarea:focus {
    outline: none;
    border-color: var(--background-primary);
}

#formContainer p.alert {
    font-weight: 700;
    color: var(--background-primary);
    text-align: center;
}

#formContainer p.success {
    font-weight: 700;
    color: var(--background-primary);
    text-align: center;
}

#formContainer button.btn,
#formContainer form input[type="submit"] {
    grid-column: span 2;
    padding: 10px;
    background-color: var(--background-primary);
    border: 2px solid var(--background-secondary);
    color: white;
    /* border: none; */
    border-radius: 5px;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
}

ul.contact-info {
    list-style: none;
    /* padding: 0; */
}

ul.contact-info strong {
    font-weight: 600;
}

ul.contact-info a {
    color: var(--background-primary);
    text-decoration: none;
}

ul.contact-info li {
    margin-bottom: 10px;
}

ul.contact-info li.spacer {
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    .swipertop .swiper-slide div.text {
        font-size: 0.8em;
    }

    .alojamientos-module {
        flex-direction: column;
    }

    .contacto {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .logo {
        top: 50px;
    }

    .logo img {
        filter: drop-shadow(0 0 2px #000);
    }

    main {
        padding-top: 140px;
    }
}

@media (max-width: 560px) {
    .swipertop .swiper-slide div.text {
        top: calc(90vh - 60px);
    }
}

@media (max-width: 480px) {
    .swipertop .swiper-slide div.text {
        top: calc(90vh - 80px);
    }

    #map {
        top: 180px;
    }

    .gmaps_link {
        top: 140px;
    }
}

@media (max-width: 440px) {
    .swipertop .swiper-slide div.text {
        top: calc(90vh - 100px);
    }
}

@media (max-width: 360px) {
    nav.navbar a {
        font-size: 0.9em;
    }
}

@media (max-width: 330px) {
    nav.navbar a {
        font-size: 0.8em;
    }
}